<div class="crucesignati game-license">
  <p class="crucesignati game-license">
    Questo sistema di gioco è ideato per "Crucesignati Old School Gaming" ma è compatibile con FG&G. Acquista online <a href="https://www.drivethrurpg.com/product/381022/Cruce-signati?term=cruce">su DriveThruRpg</a>.
  </p>
  <p>
    È possibile usare il logo "Crucesignati" per i propri prodotti compatibili, menzionando l'autore Giovanni Gori.
  </p>
  <p>
      Adattato per Foundry VTT da Giovanni Gori.
  </p>
  <div class="button">
    <a href="https://www.drivethrurpg.com/product/381022/Cruce-signati?term=cruce" target="_blank"
    ><img
      height="36"
      style="border: 0px; height: 28px;"
      src="https://cdn.ko-fi.com/cdn/kofi2.png?v=2"
      border="0"
      alt="Acquista il manuale su DriveThruRPG"
  /></a>
  </div>
  <div class="footer">
      Segnala eventuali bug <a href="https://www.crucesignati.eu/">Sito ufficiale</a>
  </div>
</div>
