<form autocomplete="off">
  <div class="attribute-bonuses">
    <label>{{localize 'CRUCESIGNATI.scores.str.long'}}</label>
    <ol>
      <li>
        {{localize 'CRUCESIGNATI.Melee'}} ({{system.scores.str.mod}})
      </li>
      <li>
        {{localize 'CRUCESIGNATI.exploration.od.long'}} ({{system.exploration.odMod}} su 6)
      </li>
      <li>
        {{localize 'CRUCESIGNATI.encumbranceLight'}} ({{system.scores.str.mod4}} Kg)
      </li>
      <li>
        {{localize 'CRUCESIGNATI.encumbranceMedium'}} ({{system.scores.str.mod5}} Kg)
      </li>
      <li>
        {{localize 'CRUCESIGNATI.encumbranceHeavy'}} ({{system.scores.str.mod6}} Kg)
      </li>
      <li>
        {{localize 'CRUCESIGNATI.encumbranceMax'}} ({{system.scores.str.mod3}} Kg)
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'CRUCESIGNATI.scores.int.long'}}</label>
    <ol>
      <li>
        {{localize 'CRUCESIGNATI.spellsMaxLevel'}} ({{system.scores.int.mod}})
      </li>
      <li>
        {{localize 'CRUCESIGNATI.spellsLearningPercentage'}} ({{system.scores.int.mod2}} %)
      </li>
      <li>
        {{localize 'CRUCESIGNATI.spellsMaxForLevel'}} ({{system.scores.int.mod3}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'CRUCESIGNATI.scores.wis.long'}}</label>
    <ol>
      <li>
        {{localize 'CRUCESIGNATI.saves.magic.long'}} ({{system.scores.wis.mod}})
      </li>
      <li>
        {{localize 'CRUCESIGNATI.spellsFailurePercentage'}} ({{system.scores.wis.mod2}} %)
      </li>
      <li>
        {{localize 'CRUCESIGNATI.wisdomXpBonus'}} ({{system.scores.wis.mod3}} %)
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'CRUCESIGNATI.scores.dex.long'}}</label>
    <ol>
      <li>
        {{localize 'CRUCESIGNATI.Missile'}} ({{system.scores.dex.mod}})
      </li>
      <li>
        {{localize 'CRUCESIGNATI.Initiative'}} ({{system.scores.dex.init}})
      </li>
      <li>
        {{localize 'CRUCESIGNATI.ArmorClass'}} ({{system.scores.dex.mod2}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'CRUCESIGNATI.scores.con.long'}}</label>
    <ol>
      <li>
        {{localize 'CRUCESIGNATI.healthBonus'}} ({{system.scores.con.mod}})
      </li>
      <li>
        {{localize 'CRUCESIGNATI.poisonSavesBonus'}} ({{system.scores.con.mod2}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'CRUCESIGNATI.scores.cha.long'}}</label>
    <ol>
      <li>
        {{localize 'CRUCESIGNATI.NPCReaction'}} ({{system.scores.cha.npc}})
      </li>
      <li>
        {{localize 'CRUCESIGNATI.RetainersMax'}} ({{system.scores.cha.mod2}})
      </li>
    </ol>
  </div>
</form>