<form autocomplete="off">
  {{#if (eq system.details.class 'guerriero')}}
  <div class="form-group">
    <label for="straordinaryStrenght">{{localize "CRUCESIGNATI.straordinaryStrenght"}}</label>
    <div class="form-fields">
      <input type="text" name="system.details.straordinaryStrenght" id="straordinaryStrenght" value="{{system.details.straordinaryStrenght}}"
        data-dtype="Number" />
    </div>
  </div>
  {{/if}}
  <div class="form-group">
    <label for="spellcaster">{{localize "CRUCESIGNATI.Spellcaster"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="system.spells.enabled" id="spellcaster" {{checked system.spells.enabled}}
        data-dtype="Boolean" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "CRUCESIGNATI.Speed"}}</label>
    <div class="form-fields">
      <input type="text" name="system.speed" id="initiative" value="{{system.speed}}"
        data-dtype="Number" />
    </div>
  </div>
  {{#if (eq this.type 'character')}}
  <div class="form-group">
    <label>{{localize "CRUCESIGNATI.details.experience.next"}}</label>
    <div class="form-fields">
      <input type="text" name="system.details.xp.next" id="experiencenext" value="{{system.details.xp.next}}"
        data-dtype="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "CRUCESIGNATI.details.experience.bonus"}} (%)</label>
    <div class="form-fields">
      <input type="text" name="system.details.xp.bonus" id="experience" value="{{system.details.xp.bonus}}"
        data-dtype="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "CRUCESIGNATI.details.experience.share"}} (%)</label>
    <div class="form-fields">
      <input type="text" name="system.details.xp.share" id="experience-share" value="{{system.details.xp.share}}"
        data-dtype="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "CRUCESIGNATI.MeleeBonus"}}</label>
    <div class="form-fields">
      <input type="text" name="system.thac0.mod.melee" id="melee" value="{{system.thac0.mod.melee}}" data-dtype="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "CRUCESIGNATI.MissileBonus"}}</label>
    <div class="form-fields">
      <input type="text" name="system.thac0.mod.missile" id="missile" value="{{system.thac0.mod.missile}}"
        data-dtype="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "CRUCESIGNATI.ArmorClassBonus"}}</label>
    <div class="form-fields">
      {{#if config.ascendingAC}}
      <input type="text" name="system.aac.mod" id="ac" value="{{system.aac.mod}}" data-dtype="Number" />
      {{else}}
      <input type="text" name="system.ac.mod" id="ac" value="{{system.ac.mod}}" data-dtype="Number" />
      {{/if}}
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "CRUCESIGNATI.Encumbrance"}}</label>
    <div class="form-fields">
      <input type="text" name="system.scores.str.mod3" id="encumbrance" value="{{system.scores.str.mod3}}"
        data-dtype="Number" {{#unless user.isGM}}disabled{{/unless}} />
    </div>
  </div>
  <div class="form-group">
    <label for="movementAuto">{{localize "CRUCESIGNATI.Setting.MovementAuto"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="system.config.movementAuto" id="movementAuto" {{checked system.config.movementAuto}}
        data-dtype="Boolean" {{#unless user.isGM}}disabled{{/unless}} />
    </div>
  </div>
  {{else}}
  <div class="form-group">
    <label for="enableInventory">{{localize "CRUCESIGNATI.Setting.EnableInventory"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="system.config.enableInventory" id="enableInventory" {{checked system.config.enableInventory}}
        data-dtype="Boolean" {{#unless user.isGM}}disabled{{/unless}} />
    </div>
  </div>
  {{/if}}
  <footer class="sheet-footer">
    <button type="submit">
      <i class="fas fa-save"></i>{{localize "Save Changes"}}
    </button>
  </footer>
</form>