<section class="attributes-tab flexrow">
    {{!-- Scores --}}
    <div class="attribute-group">
        <ul class="attributes">
            <li class="attribute ability-score" data-score="str">
                <h4 class="attribute-name box-title" title="{{ localize 'CRUCESIGNATI.scores.str.long' }}">
                    <a>{{ localize "CRUCESIGNATI.scores.str.short" }}</a>
                </h4>
                <div class="attribute-value">
                    <input name="system.scores.str.value" type="text" value="{{system.scores.str.value}}" placeholder="0"
                        data-dtype="Number" />
                </div>
            </li>
            <li class="attribute ability-score" data-score="dex">
                <h4 class="attribute-name box-title" title="{{ localize 'CRUCESIGNATI.scores.dex.long' }}">
                    <a>{{ localize "CRUCESIGNATI.scores.dex.short" }}</a>
                </h4>
                <div class="attribute-value">
                    <input name="system.scores.dex.value" type="text" value="{{system.scores.dex.value}}" placeholder="0"
                        data-dtype="Number" />
                </div>
            </li>
            <li class="attribute ability-score" data-score="con">
                <h4 class="attribute-name box-title" title="{{ localize 'CRUCESIGNATI.scores.con.long' }}">
                    <a>{{ localize "CRUCESIGNATI.scores.con.short" }}</a>
                </h4>
                <div class="attribute-value">
                    <input name="system.scores.con.value" type="text" value="{{system.scores.con.value}}" placeholder="0"
                        data-dtype="Number" />
                </div>
            </li>
            <li class="attribute ability-score" data-score="int">
                <h4 class="attribute-name box-title" title="{{ localize 'CRUCESIGNATI.scores.int.long' }}">
                    <a>{{ localize "CRUCESIGNATI.scores.int.short" }}</a>
                </h4>
                <div class="attribute-value">
                    <input name="system.scores.int.value" type="text" value="{{system.scores.int.value}}" placeholder="0"
                        data-dtype="Number" />
                </div>
            </li>
            <li class="attribute ability-score" data-score="wis">
                <h4 class="attribute-name box-title" title="{{ localize 'CRUCESIGNATI.scores.wis.long' }}">
                    <a>{{ localize "CRUCESIGNATI.scores.wis.short" }}</a>
                </h4>
                <div class="attribute-value">
                    <input name="system.scores.wis.value" type="text" value="{{system.scores.wis.value}}" placeholder="0"
                        data-dtype="Number" />
                </div>
            </li>
            <li class="attribute ability-score" data-score="cha">
                <h4 class="attribute-name box-title" title="{{ localize 'CRUCESIGNATI.scores.cha.long' }}">
                    <a>{{ localize "CRUCESIGNATI.scores.cha.short" }}</a>
                </h4>
                <div class="attribute-value">
                    <input name="system.scores.cha.value" type="text" value="{{system.scores.cha.value}}" placeholder="0"
                        data-dtype="Number" />
                </div>
            </li>
            {{#if system.retainer.enabled}}
            <li class="attribute ability-score" data-stat="lr">
                <h4 class="attribute-name box-title" title="{{ localize 'CRUCESIGNATI.Loyalty' }}">
                    <a>{{ localize "CRUCESIGNATI.LoyaltyShort" }}</a>
                </h4>
                <div class="attribute-value">
                    <input name="system.retainer.loyalty" type="text" value="{{system.retainer.loyalty}}" placeholder="0"
                        data-dtype="Number" />
                </div>
            </li>
            {{/if}}
        </ul>
    </div>
    {{!-- Colonna centrale --}}
    <div class="resources">
        <div class="flexrow">
            <div class="health">
                <input class="health-value health-top" name="system.hp.value" type="text" value="{{system.hp.value}}"
                    data-dtype="Number" placeholder="0" title="{{localize 'CRUCESIGNATI.Health'}}" />
                <input class="health-value health-bottom" name="system.hp.max" type="text" value="{{system.hp.max}}"
                    data-dtype="Number" placeholder="0" title="{{localize 'CRUCESIGNATI.HealthMax'}}" />
                <div class="health-empty" style="height:{{counter false system.hp.value system.hp.max}}%"></div>
                <div class="health-full" style="height:{{counter true system.hp.value system.hp.max}}%"></div>
            </div>
            <div class="health armor-class">
                {{#if config.ascendingAC}}
                <div class="health-value health-top" title="{{localize 'CRUCESIGNATI.ArmorClass'}}">{{system.aac.value}}</div>
                <div class="health-value health-bottom" title="{{localize 'CRUCESIGNATI.ArmorClassNaked'}}">
                    {{system.aac.naked}}</div>
                {{#if system.aac.shield}}<div class="shield"
                    title="{{localize 'CRUCESIGNATI.items.hasShield'}} ({{system.aac.shield}})"><i class="fas fa-shield-alt"></i>
                </div>{{/if}}
                {{else}}
                <div class="health-value health-top" title="{{localize 'CRUCESIGNATI.ArmorClass'}}">{{system.ac.value}}</div>
                <div class="health-value health-bottom" title="{{localize 'CRUCESIGNATI.ArmorClassNaked'}}">
                    {{system.ac.naked}}</div>
                {{#if system.ac.shield}}<div class="shield"
                    title="{{localize 'CRUCESIGNATI.items.hasShield'}} ({{system.ac.shield}})"><i class="fas fa-shield-alt"></i>
                </div>{{/if}}
                {{/if}}
            </div>
        </div>
        <div class="flexrow">
            <ul class="attributes flexrow">
                <li class="attribute hit-dice">
                    <h4 class="attribute-name box-title" title="{{ localize 'CRUCESIGNATI.HitDice' }}">
                        <a>{{ localize "CRUCESIGNATI.HitDiceShort" }}</a>
                    </h4>
                    <div class="attribute-value">
                        <input name="system.hp.hd" type="text" value="{{system.hp.hd}}" placeholder=""
                            data-dtype="String" />
                    </div>
                </li>
                {{#if config.initiative}}
                <li class="attribute">
                    <h4 class="attribute-name box-title" title="{{ localize 'CRUCESIGNATI.Initiative' }}">
                        {{ localize "CRUCESIGNATI.InitiativeShort" }}</h4>
                    <div class="attribute-value"
                        title="{{localize 'CRUCESIGNATI.scores.dex.long'}}({{system.scores.dex.init}}) + {{localize 'CRUCESIGNATI.Modifier'}}({{system.initiative.mod}})">
                        {{add system.scores.dex.init system.initiative.mod}}
                    </div>
                </li>
                {{/if}}
            </ul>
        </div>
        <div class="flexrow">
            <ul class="attributes flexrow">
                <li class="attribute attribute-secondaries attack" data-attack="melee">
                    <h4 class="attribute-name box-title" title="{{localize 'CRUCESIGNATI.Melee'}}">
                        <a>{{localize 'CRUCESIGNATI.MeleeShort'}}</a>
                    </h4>
                    <div class="flexrow">
                        <div class="attribute-value"
                            title="{{localize 'CRUCESIGNATI.scores.str.long'}}({{system.scores.str.mod}}) + {{localize 'CRUCESIGNATI.Modifier'}}({{system.thac0.mod.melee}})">
                            {{add system.scores.str.mod system.thac0.mod.melee}}
                        </div>
                    </div>
                </li>
                <li class="attribute attribute-secondaries attack">
                    <h4 class="attribute-name box-title" title="{{localize 'CRUCESIGNATI.DBLong'}}">
                        <a>{{localize 'CRUCESIGNATI.DBShort'}}</a>
                    </h4>
                    <div class="flexrow">
                        <div class="attribute-value"
                            title="{{localize 'CRUCESIGNATI.DBLong'}}">
                            {{system.scores.str.mod2}}
                        </div>
                    </div>
                </li>
                <li class="attribute attribute-secondaries attack" data-attack="missile">
                    <h4 class="attribute-name box-title" title="{{localize 'CRUCESIGNATI.Missile'}}">
                        <a>{{localize 'CRUCESIGNATI.MissileShort'}}</a>
                    </h4>
                    <div class="flexrow">
                        <div class="attribute-value"
                            title="{{localize 'CRUCESIGNATI.scores.dex.long'}}({{system.scores.dex.mod}}) + {{localize 'CRUCESIGNATI.Modifier'}}({{system.thac0.mod.missile}})">
                            {{add system.scores.dex.mod system.thac0.mod.missile}}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="flexrow">
            <ul class="attributes flexrow">
                
                <li class="attribute">
                    <h4 class="attribute-name box-title" title="{{ localize 'CRUCESIGNATI.movement.base' }}">
                        {{ localize "CRUCESIGNATI.movement.short" }}</h4>
                    <div class="attribute-value flexrow">
                        <input name="system.movement.base" type="text" value="{{system.movement.base}}" placeholder="0"
                            data-dtype="Number" {{#if system.config.movementAuto}}disabled{{/if}} />
                    </div>
                </li>
                <li class="attribute saving-throw">
                    <h4 class="attribute-name box-title" title="{{ localize 'CRUCESIGNATI.saves.magic.long' }}">
                        {{ localize "CRUCESIGNATI.saves.magic.long"}}</h4>
                    <div class="attribute-value flat" title="{{localize 'CRUCESIGNATI.scores.wis.long'}}({{system.scores.wis.mod}})">
                        {{mod system.scores.wis.mod}}
                    </div>
                </li>
                <li class="attribute saving-throw" data-save="generic">
                    <h4 class="attribute-name box-title">
                        <a>{{ localize 'CRUCESIGNATI.Attacco' }}</a>
                    </h4>
                    <div class="attribute-value">
                        <input name="system.thac0.value" type="text" value="{{system.thac0.value}}" placeholder="0"
                            data-dtype="Number" />
                </li>
            </ul>
        </div>
    </div>
    {{!-- Colonna di destra --}}
    <div class="attribute-group">
        <ul class="attributes">
            
            
            <li class="attribute saving-throw" data-save="death">
                <h4 class="attribute-name box-title">
                    <a>{{ localize "CRUCESIGNATI.saves.death.long"}}</a>
                </h4>
                <div class="attribute-value">
                    <input name="system.saves.death.value" type="text" value="{{system.saves.death.value}}" placeholder="0"
                        data-dtype="Number" />
            </li>
            <li class="attribute saving-throw" data-save="wand">
                <h4 class="attribute-name box-title">
                    <a>{{ localize "CRUCESIGNATI.saves.wand.long" }}</a>
                </h4>
                <div class="attribute-value">
                    <input name="system.saves.wand.value" type="text" value="{{system.saves.wand.value}}" placeholder="0"
                        data-dtype="Number" />
            </li>
            <li class="attribute saving-throw" data-save="paralysis">
                <h4 class="attribute-name box-title">
                    <a>{{ localize "CRUCESIGNATI.saves.paralysis.long" }}</a>
                </h4>
                <div class="attribute-value">
                    <input name="system.saves.paralysis.value" type="text" value="{{system.saves.paralysis.value}}" placeholder="0"
                        data-dtype="Number" />
            </li>
            <li class="attribute saving-throw" data-save="breath">
                <h4 class="attribute-name box-title">
                    <a>{{ localize "CRUCESIGNATI.saves.breath.long" }}</a>
                </h4>
                <div class="attribute-value">
                    <input name="system.saves.breath.value" type="text" value="{{system.saves.breath.value}}" placeholder="0"
                        data-dtype="Number" />
            </li>
            <li class="attribute saving-throw" data-save="spell">
                <h4 class="attribute-name box-title">
                    <a>{{ localize "CRUCESIGNATI.saves.spell.long" }}</a>
                </h4>
                <div class="attribute-value">
                    <input name="system.saves.spell.value" type="text" value="{{system.saves.spell.value}}" placeholder="0"
                        data-dtype="Number" />
            </li>

            
        </ul>
    </div>
</section>